@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'), url('fonts/MPLUSRounded1c-Regular.ttf') format('woff2');  
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'), url('fonts/MPLUSRounded1c-Bold.ttf') format('woff2');  
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;  
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}

h1 {
  font-size: 2.5rem;
  grid-column: 2 / 3;
}

input,
button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.25rem;
}

#svg-holder,
#svg-code,
#controls {
  grid-column: 2 / 3;
  margin: 2rem 0;
}